@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.my-image{
	width: 200px;
	height: auto;
}

a{
	color: white;
}

a:hover{
	color: red;
}

body {
  background: #13265C;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
}

ol,
ul {
  display: inline-block;
  text-align: left;
}

#arzan:hover{
	color: yellow;
}
